@import "../../styles/index.scss";
.main {
  padding-top: 20px;
  max-width: 1100px;
  margin: 0 auto;
  h1 {
    text-align: center;
    font-size: 40px;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    @media screen and (max-width: $mobileBreak) {
      margin-top: 20px;
    }
    .subSection {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1000px;
      justify-content: space-between;
      @media screen and (max-width: $mobileBreak) {
        flex-direction: column-reverse;
      }
    }
    .paragraphs {
      flex: 0.65;
      @media screen and (max-width: $mobileBreak) {
        width: 80%;
        margin: 10px auto;
      }
    }
    h2 {
      color: $darkblue;
      width: 100%;
      flex: 2;
    }
    & > div {
      max-width: 500px;
      flex: 1;
    }

    img {
      max-width: 550px;
      flex: 0.45;
      height: 100%;
      width: 100%;
      @media screen and (max-width: $mobileBreak) {
        max-width: 80%;
        margin: 0 auto 20px;
      }
    }
    svg {
      min-width: 80px;
    }
    h2 {
      text-align: center;
    }
  }
}

.integrationIcons {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  &.trigger:after {
    content: "";
    background: $lightblue;
    width: 10px;
    display: block;
    position: absolute;
    top: 80px;
    left: 35px;
    bottom: 100%;
    z-index: 0;
    animation: grow 2s linear forwards;
  }
}
.icon {
  display: flex;
  align-items: center;
  max-width: 1000px;
  min-width: 350px;
  text-align: start;
  z-index: 10;
}
.arrow {
  width: 50px;
  height: 30px;
  margin-top: 20px;
}
.legal {
  font-size: 12px;
}
@keyframes grow {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 10px;
  }
}
