.title {
  text-align: center;
}
.partnerImg {
  max-width: 200px;
  min-width: 200px;
  margin-right: 30px;
}

.info {
  display: flex;
  align-items: center;
  margin: 20px auto;
  max-width: 1000px;
  margin-bottom: 40px;
}
.partnerPage {
  padding-bottom: 40px;
}
