@mixin main {
  padding: 0rem 0;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: 0 0 5px 0 grey;
}

$background-main: white;
$lightblue: #80a4d5;
$darkblue: #456eb6;
$mobileBreak: 600px;
